<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base de Datos con Python</title>
</head>
<body>
   <h1>Actualizar datos </h1>
   <form method="POST" enctype="multipart/form-data" action="/formactualizar/actualizar">
        <label for="codea">Ingresa el codigo del dato a actualizar: </label>
        <input type="text" name="codea" id="codea">
        <br>
        <label for="namea">Nombre: </label>
        <input type="text" name="namea" id="namea">
        <br>
        <label for="continenta">Continente: </label>
        <input type="text" name="continenta" id="continenta">
        <br>
        <label for="regiona">Region: </label>
        <input type="text" name="regiona" id="regiona">
        <br>
        <label for="surfaceAreaa">SurfaceArea: </label>
        <input type="number" name="surfaceAreaa" id="surfaceAreaa">
        <br>
        <label for="indepYeara">IndepYear: </label>
        <input type="number" name="indepYeara" id="indepYeara" >
        <br>
        <label for="populationa">Population: </label>
        <input type="number" name="populationa" id="populationa" >
        <br>
        <label for="lifeExpectancya">LifeExpectancy: </label>
        <input type="number" name="lifeExpectancya" id="lifeExpectancya" step="0.01">
        <br>
        <label for="gnpa">GNP: </label>
        <input type="number" name="gnpa" id="gnpa" step="0.01">
        <br>
        <br>
        <label for="gnpOlda">GNPOld: </label>
        <input type="number" name="gnpOlda" id="gnpOlda">
        <br>
        <label for="localNamea">LocalName: </label>
        <input type="text" name="localNamea" id="localNamea" >
        <br>
        <br>
        <label for="governmentForma">GovernmentForm: </label>
        <input type="text" name="governmentForma" id="governmentForma">
        <br>
        <br>
        <label for="headOfStatea">HeadOfState: </label>
        <input type="text" name="headOfStatea" id="headOfStatea">
        <br>
        <br>
        <label for="capitala">Capital: </label>
        <input type="number" name="capitala" id="capitala">
        <br>
        <br>
        <label for="code2a">Code2: </label>
        <input type="text" name="code2a" id="code2a">
        <br>
        <button type="submit">Enviar datos </button>
    </form>
</body>
</html>