<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practica 02</title>
</head>
<body>
   <h1>Base de Datos con Python </h1>
   <form action="/mostrardatos">
       <button type="submit">Mostrar Datos </button>
   </form>
   <form action="/formingresar">
       <button type="submit">Ingresar Dato </button>
   </form>
   <form action="/formfind">
       <button type="submit">Buscar Dato </button>
   </form>
   <form action="/formactualizar">
       <button type="submit">Actualizar Dato </button>
   </form>
   <form action="/formeliminar">
       <button type="submit">Eliminar Dato </button>
   </form>
</body>
</html>