<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base de Datos con Python</title>
</head>
<body>
   <h1>Ingresar datos</h1>
   <form method="POST" action="/formingresar/ingresar">
        <label for="code">Codigo: </label>
        <input type="text" name="code" id="code">
        <br>
        <label for="name">Nombre: </label>
        <input type="text" name="name" id="name">
        <br>
        <label for="continent">Continente: </label>
        <input type="text" name="continent" id="continent">
        <br>
        <label for="region">Region: </label>
        <input type="text" name="region" id="region">
        <br>
        <label for="surfaceArea">SurfaceArea: </label>
        <input type="number" name="surfaceArea" id="surfaceArea">
        <br>
        <label for="indepYear">IndepYear: </label>
        <input type="number" name="indepYear" id="indepYear" >
        <br>
        <label for="population">Population: </label>
        <input type="number" name="population" id="population" >
        <br>
        <label for="lifeExpectancy">LifeExpectancy: </label>
        <input type="number" name="lifeExpectancy" id="lifeExpectancy" step="0.01">
        <br>
        <label for="gnp">GNP: </label>
        <input type="number" name="gnp" id="gnp" step="0.01">
        <br>
        <br>
        <label for="gnpOld">GNPOld: </label>
        <input type="number" name="gnpOld" id="gnpOld">
        <br>
        <label for="localName">LocalName: </label>
        <input type="text" name="localName" id="localName" >
        <br>
        <br>
        <label for="governmentForm">GovernmentForm: </label>
        <input type="text" name="governmentForm" id="governmentForm">
        <br>
        <br>
        <label for="headOfState">HeadOfState: </label>
        <input type="text" name="headOfState" id="headOfState">
        <br>
        <br>
        <label for="capital">Capital: </label>
        <input type="number" name="capital" id="capital">
        <br>
        <br>
        <label for="code2">Code2: </label>
        <input type="text" name="code2" id="code2">
        <br>
        <button type="submit">Enviar datos </button>
    </form>
</body>
</html>